body {
  background-image: url(http://www.williamdavidsonlaw.com/BookBackground.jpg);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width:40%;
  margin-left: 8%;
  margin-top: 10px;
  position: fixed;
}

footer {
  position: fixed;
  width: 40%;
  bottom:0;
  margin-left: 8%;
  margin-bottom: 10px;
  float: left;
}
footer img {
  margin-top: 5px;
}

section {
  float: right;
  width: 40%;
  height: 90%;
  margin-right: 5%;
  margin-top: 25px;
  padding: 5px;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}

h1 {
  font-family:'Comic Sans MS', sans-serif;
  color: #6098f2;
  text-align: center;
}

h2 {
  font-family: "Lucida Console", monospace;
  color: #6098f2;
  text-align: center;
}

h3 {
  font-family: "Lucida Console", monospace;
  color: #707070;
}

h2::first-letter {
  font-size: 200%;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: darkgrey;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:active {
  color: darkgrey;
  text-decoration: none;
}

button {
  padding: 10px;
  background-color: lightblue;
  font-family: "Arial Black", sans-serif;
  min-width: 100px;
  width: 100%;
  border-color: darkgrey;
  border-radius: 10px;
}

nav {
  text-align: center;
}

fieldset {
  border-width: 0px;
}

.dropbtn {
  min-width: 100px;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0px;
  min-width: 100px;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;

  width: 100%;
  z-index: 1;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0px 8px 30px 0px rgba(255,179,179, 0.8);
}

.dropdown-content a {
  background-color: lightblue;
  padding: 12px 16px;
  color: maroon;
  display: block;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 10px;
  margin: 2px;
}

.dropdown-content a:hover, .dropdown-content:hover .dropbtn, button:hover {
  background-color: gold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.current_page {
  background-color: gold;
}

.verified {
  height: 20px;
}

.shown {
  visibility: visible;
}

section {
  visibility: hidden;
}
